
---
layout: ""
page_title: "Provider: ACI"
description: |-
  The ACI provider provides resources to interact with a Cisco ACI fabric.
---

# ACI Provider

The ACI provider provides resources to interact with a Cisco ACI fabric.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}